/* PAGE-SPECIFIC STYLES FOR THE BLOG AND ARTICLE PAGES */
/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  .blog-container {
    margin: auto;
    max-width: calc(1120 / 16 * 1em);
    width: 94%; }

  .blog-link {
    z-index: 1;
    position: relative;
    display: inline-block;
    border-radius: calc(4 / 16 * 1rem);
    margin: auto;
    background-color: var(--headerColor);
    min-width: calc(150 / 16 * 1rem);
    /* prevents padding from adding to the width */
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 calc(24 / 16 * 1rem);
    text-decoration: none;
    font-size: calc(16 / 16 * 1rem);
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    font-weight: 700;
    color: #fff;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    text-align: center; }
    .blog-link:before {
      z-index: -1;
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      opacity: 0;
      border: 1px solid var(--headerColor);
      border-radius: calc(4 / 16 * 1rem);
      background: #fff;
      height: 100%;
      width: 100%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      -webkit-transition: opacity 0.3s;
      transition: opacity 0.3s; }
    .blog-link:hover {
      color: var(--headerColor); }
      .blog-link:hover:before {
        opacity: 1; } }
/*-- -------------------------- -->
<---           Header           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #header {
    z-index: 1;
    position: relative; }
    #header .blog-container {
      padding: clamp(100px, 14vw, 200px) 0 clamp(50px, 11vw, 100px); }
    #header .blog-header {
      margin: 0;
      width: 100%;
      font-size: clamp(24px, 4vw, 48px);
      line-height: 1.2em;
      font-weight: 700;
      color: #fff;
      text-align: left; }
    #header .blog-bg {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      height: 100%;
      width: 100%; }
      #header .blog-bg img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
      #header .blog-bg:before {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        /* color overlay */
        content: "";
        opacity: 0.6;
        display: block;
        background: #000;
        height: 100%;
        width: 100%; } }
/*-- -------------------------- -->
<---   Interior Page Header     -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0rem) {
  #int-hero {
    z-index: 1;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 30vh;
    padding-top: calc(50 / 16 * 1rem); }
    #int-hero picture {
      z-index: -2;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%; }
      #int-hero picture img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
    #int-hero h1 {
      position: relative;
      margin: 0 auto;
      margin-top: calc(70 / 16 * 1rem);
      margin-bottom: calc(30 / 16 * 1rem);
      max-width: calc(500 / 16 * 1rem);
      width: 96%;
      font-size: calc(64 / 30 * 1rem);
      color: #fff;
      text-align: center; }
    #int-hero p {
      display: block;
      margin: auto;
      margin-bottom: calc(30 / 16 * 1rem);
      max-width: calc(400 / 16 * 1rem);
      width: 96%;
      color: #fff;
      text-align: center; }
    #int-hero:before {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      opacity: 0.7;
      display: block;
      background: #000;
      height: 100%;
      width: 100%; } }
/* Tablet */
@media only screen and (min-width: 48rem) {
  #int-hero {
    font-size: 100%; }
    #int-hero h1 {
      font-size: calc(64 / 16 * 1rem); } }
/* Small Desktop */
@media only screen and (min-width: 64rem) {
  #int-hero {
    background-attachment: fixed;
    min-height: calc(300 / 16 * 1rem);
    height: auto;
    padding-top: calc(180 / 16 * 1rem);
    font-size: inherit;
    -webkit-padding-after: calc(100 / 16 * 1rem);
            padding-block-end: calc(100 / 16 * 1rem); } }
/*-- -------------------------- -->
<---        Main Content        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  .blog-container {
    padding: clamp(60px, 7vw, 100px) 0; }

  .main-content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: calc(50 / 16 * 1em); }

  .main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    row-gap: calc(50 / 16 * 1em); } }
/* Tablet - 1024px */
@media only screen and (min-width: 64rem) {
  .main-content-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-column-gap: calc(20 / 16 * 1em);
            column-gap: calc(20 / 16 * 1em); } }
/*-- -------------------------- -->
<---    Recent Blog Articles    -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  .recent-articles {
    max-width: calc(795 / 16 * 1em);
    width: 100%;
    overflow: hidden;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none; }
    .recent-articles .blog-mainImage {
      position: relative;
      display: block;
      border-radius: calc(8 / 16 * 1em) calc(8 / 16 * 1em) 0 0;
      height: clamp(200px, 30vw, 400px);
      width: 100%;
      overflow: hidden; }
      .recent-articles .blog-mainImage img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
    .recent-articles .article-group {
      border: 1px solid #ebebeb;
      border-radius: 0 0 calc(8 / 16 * 1em) calc(8 / 16 * 1em);
      padding: clamp(30px, 5vw, 50px); }
    .recent-articles .blog-author-img {
      position: relative;
      display: block;
      border-radius: 50%;
      height: calc(32 / 16 * 1em);
      width: calc(32 / 16 * 1em);
      overflow: hidden; }
      .recent-articles .blog-author-img img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
    .recent-articles .blog-authorGroup {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      gap: calc(12 / 16 * 1rem); }
    .recent-articles .blog-author,
    .recent-articles .blog-date {
      font-size: calc(14 / 16 * 1rem);
      line-height: 1.5em;
      color: var(--bodyTextColor); }
    .recent-articles .blog-dot {
      display: block;
      border-radius: 50%;
      background-color: var(--primary);
      height: 3px;
      width: 3px; }
    .recent-articles .blog-h1 {
      margin: calc(16 / 16 * 1rem) 0;
      font-size: clamp(20px, 5vw, 32px);
      line-height: 1.4em;
      font-weight: 700;
      color: var(--headerColor); }
    .recent-articles .blog-desc {
      margin: calc(16 / 16 * 1rem) 0 calc(32 / 16 * 1rem);
      font-size: calc(16 / 16 * 1rem);
      line-height: 1.5em;
      color: var(--bodyTextColor); }
    .recent-articles .blog-link {
      z-index: 1;
      position: relative;
      display: inline-block;
      border-radius: calc(4 / 16 * 1rem);
      margin: auto;
      background-color: var(--headerColor);
      min-width: calc(150 / 16 * 1rem);
      /* prevents padding from adding to the width */
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 0 calc(24 / 16 * 1rem);
      text-decoration: none;
      font-size: calc(16 / 16 * 1rem);
      /* 46px - 56px */
      line-height: clamp(2.875em, 5.5vw, 3.5em);
      font-weight: 700;
      color: #fff;
      -webkit-transition: color 0.3s;
      transition: color 0.3s;
      text-align: center; }
      .recent-articles .blog-link:before {
        z-index: -1;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        opacity: 0;
        border: 1px solid var(--headerColor);
        border-radius: calc(4 / 16 * 1rem);
        background: #fff;
        height: 100%;
        width: 100%;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s; }
      .recent-articles .blog-link:hover {
        color: var(--headerColor); }
        .recent-articles .blog-link:hover:before {
          opacity: 1; } }
/* Mobile - 1024px */
@media only screen and (min-width: 64rem) {
  .recent-articles .blog-h1 {
    max-width: calc(500 / 16 * 1rem); } }
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode .recent-articles .blog-h1,
  body.dark-mode .recent-articles .blog-desc,
  body.dark-mode .recent-articles .blog-author,
  body.dark-mode .recent-articles .blog-date {
    color: #f7f7f7; }
  body.dark-mode .blog-sidebar .feature-h3,
  body.dark-mode .blog-sidebar .feature-date,
  body.dark-mode .blog-sidebar .blog-header {
    color: #f7f7f7; }
  body.dark-mode .blog-sidebar .blog-header:after {
    background: var(--primary); }
  body.dark-mode .blog-article .blog-h1,
  body.dark-mode .blog-article .blog-author,
  body.dark-mode .blog-article .blog-date {
    color: #f7f7f7; }
  body.dark-mode .blog-article #blog-content h1,
  body.dark-mode .blog-article #blog-content h2,
  body.dark-mode .blog-article #blog-content h3,
  body.dark-mode .blog-article #blog-content h4,
  body.dark-mode .blog-article #blog-content h5,
  body.dark-mode .blog-article #blog-content h6 {
    color: #f7f7f7; }
  body.dark-mode .blog-article #blog-content p,
  body.dark-mode .blog-article #blog-content li {
    opacity: 0.8;
    color: #f7f7f7; }
  body.dark-mode .blog-article #blog-content a {
    color: #9dafe5; } }
/*-- -------------------------- -->
<---          Sidebar           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  .blog-sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: calc(795 / 16 * 1em);
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    row-gap: calc(50 / 16 * 1em); }
    .blog-sidebar .blog-featured-group {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border: 1px solid #ebebeb;
      border-radius: calc(8 / 16 * 1em);
      width: 100%;
      padding: calc(35 / 16 * 1em) calc(30 / 16 * 1em); }
    .blog-sidebar .blog-header {
      position: relative;
      display: block;
      margin-bottom: calc(30 / 16 * 1rem);
      font-size: calc(20 / 16 * 1em);
      font-weight: bold;
      color: var(--headerColor);
      text-align: center; }
      .blog-sidebar .blog-header:after {
        position: relative;
        content: "";
        display: block;
        border-radius: calc(4 / 16 * 1rem);
        margin: calc(16 / 16 * 1rem) auto;
        background: var(--headerColor);
        height: 3px;
        width: calc(50 / 16 * 1rem); }
    .blog-sidebar .blog-feature {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border-bottom: 1px solid #ebebeb;
      width: 100%;
      padding: calc(20 / 16 * 1rem) 0;
      text-decoration: none;
      -webkit-column-gap: calc(24 / 16 * 1em);
              column-gap: calc(24 / 16 * 1em); }
      .blog-sidebar .blog-feature:nth-of-type(1) {
        padding-top: 0; }
      .blog-sidebar .blog-feature:last-of-type {
        border: none;
        padding-bottom: 0; }
    .blog-sidebar .blog-featureImage {
      position: relative;
      display: block;
      border-radius: 50%;
      height: calc(60 / 16 * 1em);
      width: calc(60 / 16 * 1em);
      overflow: hidden;
      -webkit-box-flex: 0;
          -ms-flex: none;
              flex: none; }
      .blog-sidebar .blog-featureImage img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
    .blog-sidebar .feature-h3 {
      display: block;
      margin: 0;
      margin-bottom: calc(4 / 16 * 1rem);
      text-decoration: none;
      font-size: calc(15 / 16 * 1rem);
      line-height: 1.5em;
      font-weight: 700;
      color: var(--headerColor); }
    .blog-sidebar .feature-date {
      display: block;
      font-size: calc(14 / 16 * 1rem);
      line-height: 1.5em;
      color: var(--bodyTextColor); } }
/* Tablet - 1024px */
@media only screen and (min-width: 64rem) {
  .blog-sidebar {
    max-width: calc(360 / 16 * 1em); } }
/*-- -------------------------- -->
<---        Blog Articles       -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  .blog-article {
    display: block;
    max-width: calc(795 / 16 * 1em);
    width: 100%; }
    .blog-article .blog-mainImage {
      position: relative;
      display: block;
      border-radius: calc(8 / 16 * 1em);
      margin-bottom: calc(50 / 16 * 1em);
      height: clamp(200px, 30vw, 400px);
      width: 100%;
      overflow: hidden; }
      .blog-article .blog-mainImage img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
    .blog-article .blog-author-img {
      position: relative;
      display: block;
      border-radius: 50%;
      height: calc(32 / 16 * 1em);
      width: calc(32 / 16 * 1em);
      overflow: hidden; }
      .blog-article .blog-author-img img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
    .blog-article .blog-authorGroup {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      gap: calc(12 / 16 * 1rem); }
    .blog-article .blog-author,
    .blog-article .blog-date {
      font-size: calc(14 / 16 * 1rem);
      line-height: 1.5em;
      color: var(--bodyTextColor); }
    .blog-article .blog-dot {
      display: block;
      border-radius: 50%;
      background-color: #fe4f70;
      height: 3px;
      width: 3px; }
    .blog-article .blog-h1 {
      margin: calc(16 / 16 * 1rem) 0;
      max-width: calc(550 / 16 * 1rem);
      font-size: clamp(20px, 5vw, 39px);
      line-height: 1.4em;
      font-weight: 700;
      color: var(--headerColor); }
    .blog-article #blog-content {
      border-top: 1px solid #ebebeb;
      margin-top: calc(16 / 16 * 1em);
      padding-top: calc(25 / 16 * 1em); }
      .blog-article #blog-content h1 {
        margin-bottom: 1rem;
        font-size: 2.25rem;
        line-height: 1.75em;
        font-weight: 700;
        color: var(--headerColor); }
      .blog-article #blog-content h2 {
        margin-bottom: calc(16 / 16 * 1rem);
        font-size: calc(28 / 16 * 1rem);
        line-height: 1.5em;
        font-weight: 700;
        color: var(--headerColor); }
      .blog-article #blog-content h3 {
        margin-bottom: calc(16 / 16 * 1rem);
        font-size: calc(24 / 16 * 1rem);
        line-height: 1.5em;
        font-weight: 700;
        color: var(--headerColor); }
      .blog-article #blog-content h4,
      .blog-article #blog-content h5,
      .blog-article #blog-content h6 {
        margin-bottom: calc(16 / 16 * 1rem);
        font-size: calc(20 / 16 * 1rem);
        line-height: 1.5em;
        font-weight: 700;
        color: var(--headerColor); }
      .blog-article #blog-content p {
        margin: 0;
        margin-bottom: calc(16 / 16 * 1rem);
        font-size: calc(16 / 16 * 1rem);
        line-height: 1.6em;
        color: var(--bodyTextColor); }
      .blog-article #blog-content a {
        text-decoration: underline;
        font-size: inherit;
        color: var(--secondary); }
      .blog-article #blog-content ul,
      .blog-article #blog-content ol {
        margin: calc(16 / 16 * 1rem) 0;
        padding-left: calc(40 / 16 * 1rem); }
        .blog-article #blog-content ul li,
        .blog-article #blog-content ol li {
          margin-bottom: calc(16 / 16 * 1rem);
          list-style: circle;
          font-size: calc(16 / 16 * 1rem);
          line-height: 1.6em;
          color: var(--bodyTextColor); }
      .blog-article #blog-content img {
        display: block;
        border-radius: calc(8 / 16 * 1rem);
        margin: calc(16 / 16 * 1rem) 0;
        height: auto;
        width: 100%; } }
/*-- -------------------------- -->
<---           Footer           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cs-footer {
    background-color: #1a1a1a;
    /* 60px - 100px top and bottom */
    padding: clamp(3.75em, 7.82vw, 6.25em) calc(16 / 16 * 1em);
    font-family: "Roboto", "Arial", sans-serif; }
    #cs-footer .cs-container {
      margin: auto;
      max-width: calc(1280 / 16 * 1em);
      width: 100%; }
    #cs-footer .cs-logo-group {
      position: relative;
      /* takes up all the space, lets the other ul's wrap below it */
      width: 100%; }
    #cs-footer .cs-logo {
      display: block;
      /* 28px - 44px */
      margin-bottom: clamp(1.75em, 4.17vw, 2.75em);
      height: auto;
      /* 210px - 240px */
      width: clamp(13.125em, 8vw, 15em); }
    #cs-footer .cs-logo-img {
      height: auto;
      width: 100%; }
    #cs-footer .cs-text {
      margin: 0;
      margin-bottom: calc(40 / 16 * 1rem);
      /* changes to 521px at desktop */
      max-width: calc(344 / 16 * 1rem);
      color: var(--bodyTextColorWhite); }
    #cs-footer .cs-nav {
      margin: 0;
      /* 32px - 40px */
      margin-bottom: clamp(2em, 5.3vw, 2.5em);
      padding: 0;
      padding-left: calc(16 / 16 * 1em); }
    #cs-footer .cs-nav-li {
      list-style: none;
      line-height: 1.5em; }
      #cs-footer .cs-nav-li:last-of-type {
        margin-bottom: 0; }
    #cs-footer .cs-header {
      position: relative;
      display: block;
      margin-bottom: calc(20 / 16 * 1rem);
      font-size: calc(16 / 16 * 1rem);
      line-height: 1.5em;
      font-weight: 700;
      color: var(--bodyTextColorWhite); }
    #cs-footer .cs-nav-link {
      position: relative;
      text-decoration: none;
      font-size: calc(16 / 16 * 1rem);
      line-height: 1.5em;
      color: var(--bodyTextColorWhite); }
      #cs-footer .cs-nav-link:before {
        position: absolute;
        bottom: calc(-2 / 16 * 1rem);
        left: 0;
        /* underline */
        content: "";
        opacity: 1;
        display: block;
        /* current color of the parent */
        background: currentColor;
        height: calc(2 / 16 * 1rem);
        width: 0%;
        -webkit-transition: width 0.3s;
        transition: width 0.3s; }
      #cs-footer .cs-nav-link:hover:before {
        width: 100%; }
    #cs-footer .cs-bottom {
      position: relative;
      width: 100%;
      padding-left: calc(16 / 16 * 1em); }
    #cs-footer .cs-copyright {
      display: block;
      font-size: calc(16 / 16 * 1rem);
      line-height: 1.5em;
      color: #b4b2c7; }
    #cs-footer .cs-social {
      position: absolute;
      bottom: 0;
      right: calc(16 / 16 * 1em);
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      gap: calc(12 / 16 * 1em); }
    #cs-footer .cs-social-link {
      z-index: 1;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border-radius: 50%;
      background-color: #4e4b66;
      height: calc(24 / 16 * 1rem);
      width: calc(24 / 16 * 1rem);
      -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
      transition: background-color 0.3s, -webkit-transform 0.3s;
      transition: transform 0.3s, background-color 0.3s;
      transition: transform 0.3s, background-color 0.3s, -webkit-transform 0.3s; }
      #cs-footer .cs-social-link:hover {
        -webkit-transform: translateY(calc(-3 / 16 * 1rem));
                transform: translateY(calc(-3 / 16 * 1rem));
        background-color: var(--primary); }
    #cs-footer .cs-social-img {
      display: block;
      height: calc(13 / 16 * 1rem);
      width: auto; } }
/* Inbetween - 600px */
@media only screen and (min-width: 37.5em) {
  #cs-footer .cs-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    /* 48px - 60px */
    -webkit-column-gap: clamp(3em, 5.9vw, 3.75em);
            column-gap: clamp(3em, 5.9vw, 3.75em); } }
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #cs-footer .cs-logo-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    /* 20px - 60px */
    margin-bottom: clamp(1.25em, 4vw, 3.75em); }
  #cs-footer .cs-logo {
    margin: 0; }
  #cs-footer .cs-text {
    margin: 0;
    max-width: calc(521 / 16 * 1rem);
    width: 50%;
    text-align: right; }
  #cs-footer .cs-nav {
    padding: 0; }
  #cs-footer .cs-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0; }
  #cs-footer .cs-social {
    position: relative;
    /* reset these positions */
    bottom: auto;
    right: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; } }

/*# sourceMappingURL=blog.css.map */