---
title: 'Garden Club | Hereford'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero">
        <div class="cs-container">
            <div class="cs-flex-group">
                <span class="cs-topper">gardening club</span>
                <h1 class="cs-title">A whole ecosystem in your front garden</h1>
                <p class="cs-text">
                    We are a tight knit group of passionate gardening lovers. We take part in a range of activties.
                </p>
                <a href="/about" class="cs-button-solid">About</a>
                <a href="/contact" class="cs-button-transparent">
                    <img
                    class="cs-img"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Hero/play.svg"
                    alt="play icon"
                    width="17"
                    height="17"/>
                    Get in Touch
                </a>
            </div>
        </div>

        <!-- Background Image -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/background.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/background.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/background.jpg" alt="shovel" width="2500" height="1667" loading="eager">
        </picture>
    </section>

    
    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/vegetables.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/vegetables.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/vegetables.jpg" alt="vegetables" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/seeding.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/seeding.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/seeding.jpg" alt="seeding" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">About Garden Club</h2>
                <p class="cs-text">
                    It says it in our name. We operate as a gardening club. We hold many events and activities for everyone, regardless of who you are. Our family is big yet very close to one another.
                </p>
                <p class="cs-text">
                    And it is ever growing just like the seeds we plant in soil. There are all kinds of people who pop in every now and then. There are also people who come in every day without fail. It doesn't matter how much time you have on your hands. Anyone who comes is a new member!
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        I was the mastermind behind it all! Be scared! Just kidding. I was the person to start it up but everyone has their role here and without them it wouldn't be the same. It has become a big place in my heart, and I hope everyone else can say the same.
                    </p>
                    <span class="cs-name">Anne</span>
                    <span class="cs-job">Founder</span>
                    <img 
                    class="cs-quote-icon"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
                    alt="gavel"
                    width="136"
                    height="77"/>
                </div>
                <a href="/about" class="cs-button-solid">More About Us</a>
            </div>
        </div>
    </section>

    
    <!-- ============================================ -->
    <!--            Extra Content To Rank             -->
    <!-- ============================================ -->

    <section id="sbs-r">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/plants.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/plants.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/plants.jpg" alt="plants" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/cherry-blossom.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/cherry-blossom.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/cherry-blossom.jpg" alt="cherry blossoms" loading="lazy" width="400" height="560">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">Our community</span>
                <h2 class="cs-title">The town we are in</h2>
                <p class="cs-text">
                    What we have going for us is our ability to reach out to the town we are based in and the surrounding areas. This means offering bake sales, giving out fruit and veggies to those in need and educating about the wonders of gardening at schools.
                    Many young children and teens come to volunteer, and this is very beneficial to both their social development and future job prospects. This of course doesn't mean you can't come if you don't have a job! Anyone can join.
                </p>
                <p class="cs-text">
                    This role we all have is something we all embrace about Garden Club: the ability to help others.
                </p>
                <a href="/blog" class="cs-button-solid">Read our Blog</a>
            </div>
        </div>
    </section>
    
    <!-- ============================================ -->
    <!--                    Events                    -->
    <!-- ============================================ -->

    <section id="events-1928">
        <span class="cs-topper">Our events</span>
        <div class="cs-container">
            <div class="cs-image-group">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/vase.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/vase.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/vase.jpg" alt="flowers in a vase" width="522" height="680">
                </picture>
                <img class="cs-graphic cs-leaf" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/leaf-2.svg" alt="graphic" width="175" height="143" aria-hidden="true">
            </div>
            <div class="cs-content">
                <div class="cs-flex">
                    <h2 class="cs-title">Upcoming Events</h2>
                </div>
                <ul class="cs-card-group">
                    <li class="cs-item">
                        <span class="cs-date">
                            <strong>26</strong>
                            Sep 2024
                        </span>
                        <div class="cs-info">
                            <h3 class="cs-h3">Simple Gardening Workshop</h3>
                            <span class="cs-time"><img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-clock.svg" alt="icon" width="24" height="24" loading="lazy" decoding="async">12:00AM - 04:00PM</span>
                        </div>
                        <a href="/contact" class="cs-button-solid">Learn more</a>
                    </li>
                    <li class="cs-item">
                        <span class="cs-date">
                            <strong>17</strong>
                            Oct 2024
                        </span>
                        <div class="cs-info">
                            <h3 class="cs-h3">Fruits And Veggie Giveaway</h3>
                            <span class="cs-time"><img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-clock.svg" alt="icon" width="24" height="24" loading="lazy" decoding="async">12:00AM - 02:00PM</span>
                        </div>
                        <a href="/contact" class="cs-button-solid">Learn more</a>
                    </li>
                    <li class="cs-item">
                        <span class="cs-date">
                            <strong>22</strong>
                            Oct 2024
                        </span>
                        <div class="cs-info">
                            <h3 class="cs-h3">Bake Sale!</h3>
                            <span class="cs-time"><img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-clock.svg" alt="icon" width="24" height="24" loading="lazy" decoding="async">9:00AM - 12:00AM</span>
                        </div>
                        <a href="/contact" class="cs-button-solid">Learn more</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery">
        <div class="cs-container">
            <span class="cs-topper">Picture gallery</span>
            <h2 class="cs-title">A Few Highlights And Beautiful Pics At Garden Club:</h2>
            <div class="cs-image-group">
                <!-- Row 1-->
                <div class="cs-row cs-row-1">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/gallery/gallery1.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/gallery/gallery1.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/gallery/gallery1.jpg" alt="planting" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/gallery/gallery4.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/gallery/gallery4.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/gallery/gallery4.jpg" alt="rose" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/gallery/gallery2.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/gallery/gallery2.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/gallery/gallery2.jpg" alt="planting - 2nd image" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 2 -->
                <div class="cs-row cs-row-2">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/gallery/gallery3.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/gallery/gallery3.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/gallery/gallery3.jpg" alt="planting - 3rd image" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/gallery/gallery5.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/gallery/gallery5.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/gallery/gallery5.jpg" alt="plants outside" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/gallery/gallery8.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/gallery/gallery8.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/gallery/gallery8.jpg" alt="butterfly on a flower" loading="lazy" width="400" height="600">
                    </picture>
                </div>
                <!-- Row 3 -->
                <div class="cs-row cs-row-3">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/gallery/gallery6.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/gallery/gallery6.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/gallery/gallery6.jpg" alt="flowers in sunset" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/gallery/gallery7.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/gallery/gallery7.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/gallery/gallery7.jpg" alt="pretty pink flowers" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/gallery/gallery9.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/gallery/gallery9.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/gallery/gallery9.jpg" alt="children volunteering" loading="lazy" width="400" height="580">
                    </picture>
                </div>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}